.form{
  padding: 20vh 0 0 0;
  max-width: 300px;
}

.form.item{
  margin: auto;
}

.container{
  margin: auto;
  /* background-color: rgb(158, 158, 158); */
  max-width: 100vh;
}

.inline{
  display: flex;
  justify-content: space-between;
}

.continues{
  background-color: #4CAF50;
}

h2{
  color: #4CAF50;
}

